
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <link rel="stylesheet" href="https://blazor.cdn.telerik.com/blazor/11.1.0/kendo-theme-bootstrap/swatches/bootstrap-vintage.css" />
    <link rel="stylesheet" href="https://blazor.cdn.telerik.com/blazor/11.1.0/kendo-font-icons/font-icons.css" />
    <script src="https://blazor.cdn.telerik.com/blazor/11.1.0/telerik-blazor.min.js" defer></script>
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["AppsAvanzadas.styles.css"]" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet @rendermode="@InteractiveServer" />
</head>

<body class="k-body">
    <Routes @rendermode="@InteractiveServer" />
    <script src="_framework/blazor.web.js" autostart="false"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            Blazor.start();
        });
    </script>
</body>

</html>

