@page "/about"

<PageTitle>Telerik Blazor App | About</PageTitle>

<h1>About Telerik UI for Blazor</h1>

<div class="container my-4">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4 align-items-start">
        <div class="col d-flex">
            <TelerikCard class="w-100">
                <CardImage Src="CONTACTO.png"></CardImage>
                <CardBody>
                    <CardTitle>Rome</CardTitle>
                    <CardSeparator></CardSeparator>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elit.
                        Quisque faucibus ex sapien vitae pellentesque sem placerat.
                        In id cursus mi pretium tellus duis convallis.
                        Tempus leo eu aenean sed diam urna tempor.
                    </p>
                </CardBody>
            </TelerikCard>
        </div>

        <div class="col d-flex">
            <TelerikCard class="w-100">
                <CardImage Src="inicio4.png"></CardImage>
                <CardBody>
                    <CardTitle>Rome</CardTitle>
                    <CardSeparator></CardSeparator>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elit.
                        Quisque faucibus ex sapien vitae pellentesque sem placerat.
                        In id cursus mi pretium tellus duis convallis.
                        Tempus leo eu aenean sed diam urna tempor.
                    </p>
                </CardBody>
            </TelerikCard>
        </div>

        <div class="col d-flex">
            <TelerikCard class="w-100">
                <CardImage Src="inicio1.png"></CardImage>
                <CardBody>
                    <CardTitle>Rome</CardTitle>
                    <CardSeparator></CardSeparator>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elit.
                        Quisque faucibus ex sapien vitae pellentesque sem placerat.
                        In id cursus mi pretium tellus duis convallis.
                        Tempus leo eu aenean sed diam urna tempor.
                    </p>
                </CardBody>
            </TelerikCard>
        </div>
    </div>
</div>

@code {

}
